<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    <h1>Welcome to your profile</h1>
    <!-- Display user's data -->
    <h2>Personal Information</h2>
    <p><strong>Full Name:</strong> {{ personal_info.Full_Name }}</p>
    <p><strong>Address:</strong> {{ personal_info.Address }}</p>
    <p><strong>ID Number:</strong> {{ personal_info.ID_Number }}</p>
    <p><strong>Phone:</strong> {{ personal_info.Phone}}</p>
    <p><strong>Email:</strong> {{ personal_info.Email}}</p>
    <p><strong>Age:</strong> {{ personal_info.umur}}</p>
    <p><strong>Birthdate:</strong> {{personal_info.tanggal_lahir}}</p>
    <p></p>
    <p><strong>Job Information:</strong> {{ medical_info.Job_Information }}</p>

    <!-- Add buttons to download files -->
    <h2>Download your Files here</h2>
    <a href="{% url 'download_data' 'id_card_image' %}" class="btn btn-primary"
      >Download ID Card Image</a
    >
    <a
      href="{% url 'download_data' 'informasi_medis_file' %}"
      class="btn btn-primary"
      >Download Medical Info File</a
    >
    <a
      href="{% url 'download_data' 'sidik_jari_image' %}"
      class="btn btn-primary"
      >Download Fingerprint Image</a
    >

    <!-- Add additional content as needed -->
  </body>
</html>
